<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Demo_Suite" parallel="tests">

  <test name="Demo_Test" >
    <classes>
      <class name="in.docsapp.tests.MaxLifeValidCaseTest"/>
      <class name="in.docsapp.tests.MaxLifeInvalidCaseTest"/>
    </classes>
  </test><!-- Demo_Test  -->
  

<!--   <test name="Demo_Test_2" > -->
<!--     <parameter name="browser" value="firefox"></parameter> -->
<!--     <classes> -->
<!--       <class name="in.docsapp.tests.MaxLifeValidCaseTest"/> -->
<!--       <class name="in.docsapp.tests.MaxLifeInvalidCaseTest"/> -->
<!--     </classes> -->
<!--   </test> Demo_Test  -->
</suite> <!-- Demo_Suite -->
